<h1><%= @genre.name %></h1>
<%= link_to 'Editar', edit_genre_path(@genre.id) %>

<ul>
    <% if  @movies_with_genre%>
        <% @movies_with_genre.each do |movie| %>
        <li><%= movie.title %></li>
        <% end %>
    <% end %>
</ul>